@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
    border: 2px solid black;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 5px;
    border: 2px solid black;
}

/* --------------> Scrollbar <-------------- */

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #C3B1E1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2f2a61c6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2f2a61;
}